.container {
  border-radius: 50%;
  z-index: 9;
  position: relative;
  height: 175px;
  width: 175px;
  border: solid 2px var(--radial-menu-border);
  overflow: hidden;
  background: rgb(213, 213, 213, 0.2);
  mask-image: radial-gradient(
    circle,
    transparent 50px,
    rgb(213, 213, 213) 50px
  );
  mask-size: contain;
  pointer-events: auto;

  &:before {
    content: ' ';
    background: transparent;
    pointer-events: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
